footer {
  left: 0;
  bottom: -10;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: $-light-color-0;
  padding: 0.2rem;
}

.container_footer {
  display: inline-block;
  justify-content: center;
  width: 100%;
  height: auto;
}

.footer-bottom {
  background: $-primary-color-1;
  padding: 0.2rem 0;

  .copyright {
    text-transform: uppercase;
    background-color: $-primary-color-1;
    font-size: 1rem;
    text-shadow: 0 0.4rem 0.2rem (0, 0, 0, 0.9);
  }
}
